Sphinx>=7.2.1
sphinx-book-theme
sphinx-rtd-theme
pydata-sphinx-theme
sphinx-design
furo
myst-parser
sphinx-issues
sphinx-copybutton
sphinx-tippy
sphinx-togglebutton
sphinxcontrib-mermaid
sphinxcontrib-constdata
sphinxcontrib-bibtex
pytest>=7.4.1
coverage>=7.3.1
pytest-cov>=4.1.0
pylint>=3.0.1
flake8>=6.1.0