Sphinx
sphinx-book-theme
sphinx-rtd-theme
pydata-sphinx-theme
sphinx_design
furo
myst-parser
revitron-sphinx-theme @ https://github.com/thirdreading/hub/raw/develop/software/python/revitron-sphinx-theme-future.zip
sphinx-copybutton
sphinx-togglebutton
sphinx-issues
sphinx-tippy
sphinxcontrib-mermaid
sphinxcontrib-constdata
sphinxcontrib-bibtex
sphinxcontrib-jquery
sphinxcontrib-httpdomain
sphinxext-opengraph
autodocsumm
pytest>=8.3
coverage>=7.6
pytest-cov>=5.0
pylint>=3.2
flake8>=7.1