@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');


/* Body */
/*body {
    font-family: 'Montserrat', sans-serif;
}*/

.carousel-container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 35px;
    max-width: 625px;
}


/* Carousel */
.carousel {
    text-align: center;
    color: #ffffff;
}

.carousel-cell {
    display: grid;
    overflow: hidden;
    height: 350px;
    width: 100%;
}

.carousel-slide {
    display: grid;
    justify-items: left;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 35px;
    padding: 15px;
    width: 100%;
    height: 330px;
    background: #dbdbdb;
    opacity: 0.85
}

.carousel-slide-copy {
    display: grid;
    justify-self: start;
    align-self: flex-start;
    text-align: left;
    width: 100%;
}

.carousel-slide-copy h1 {
    font-size: 2rem;
    color: #ffffff;
}

.carousel-slide-copy p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #ffffff;
}

.carousel-slide-copy a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
}

.carousel-arrow {
    display: none;
    justify-items: center;
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: 6rem;
    color: #ffffff;
    width: 17px;
    height: 48px;
}


/* dots */
.flickity-page-dots {
    bottom: 400px;
}

.dot {
    border: 1px solid white;
}


/* Media */
@media screen and (max-width: 1680px) {

    /* Homepage
       Media Queries
     */
    .flickity-page-dots {
        bottom: 200px;
    }

    .carousel-arrow {
        bottom: 3rem;
    }
}

@media screen and (max-width: 1440px) {

    /* Homepage */
    .flickity-page-dots {
        bottom: 200px;
        left: 90px;
    }
}

@media screen and (max-width: 1280px) {
    /* Homepage */
    .flickity-page-dots {
        bottom: 130px;
        left: 150px;
    }

    .carousel-arrow {
        bottom: 1rem;
    }
}

@media screen and (max-width: 1024px) {
    /* Homepage */
    .flickity-page-dots {
        bottom: 60px;
        left: 150px;
    }

    .carousel-arrow {
        bottom: -7rem;
    }
}

@media screen and (max-width: 990px) {
    .carousel-slide-copy {
        font-size: 1.5rem;
    }

    .carousel-slide-copy p {
        padding-right: 20px;
    }
    .flickity-page-dots {
        display: none;
    }
}

@media screen and (max-width: 620px) {
    .carousel-slide {
        height: auto;
        grid-template-columns: 1fr;
    }

    .carousel-slide-image {
        justify-self: center;
        align-content: center;
    }

    .carousel-slide-copy {
        justify-self: center;
        text-align: center;
    }
}

@media screen and (max-width: 568px) {
    .carousel-cell img {
        height: 200px;
    }
    .carousel-slide {
        height: 100vh;
    }

}

@media screen and (max-width: 414px) {

    /* Home Page
       iPhone 8, 7, 6
    */
    .carousel-slide {
        grid-template-columns: 1fr;
        height: 100vh;
    }

    .carousel-slide-image {
        justify-self: center;
    }

    .carousel-slide-copy h1,
    p,
    a {
        text-align: center;
        padding: 10px;
    }

    .carousel-cell img {
        height: 200px;
    }

    .flickity-page-dots {
        bottom: 620px;
        left: 0;
    }

    .carousel-arrow {
        bottom: 90rem;
    }

    .carousel-slide-image {
        justify-self: center;
        align-self: end;
    }

    .carousel-slide-copy {
        font-size: 1.5rem;
        justify-self: start;
        align-self: start;
        text-align: center;
    }

    .carousel-slide-copy h1,
    p {
        padding: 10px;
        margin: 0;
    }
}

@media screen and (max-width: 375px) {

    /* iPhone X, 8, 7, 6 */
    .flickity-page-dots {
        bottom: 670px;
        left: 0;
    }
}
